---
import type { BlogPost } from "@/utils/posts";
import { formatPostDate, getPostHref, getReadingMinutes } from "@/utils/posts";

interface Props {
  posts: BlogPost[];
  headingLevel?: "h2" | "h3";
}

const { posts, headingLevel = "h2" } = Astro.props;
const Heading = headingLevel;
---

<ul class="post-list">
  {posts.map((post) => (
    <li class="post-row">
      <article>
        <a class="post-title-link" href={getPostHref(post)}>
          <Heading>{post.data.title}</Heading>
        </a>
        <p class="post-meta">
          <time datetime={post.data.pubDatetime.toISOString()}>
            {formatPostDate(post.data.pubDatetime)}
          </time>
          <span>{getReadingMinutes(post.body)} min read</span>
        </p>
        <p>{post.data.description}</p>
        <ul class="inline-tags" aria-label={`${post.data.title} tags`}>
          {post.data.tags.map((tag) => <li>{tag}</li>)}
        </ul>
      </article>
    </li>
  ))}
</ul>
